extends layout

block content
  h1= title
  p Welcome to #{title}
  img(src='https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/screen-shot-2019-07-22-at-1-23-53-pm-1563817365.png?crop=1.00xw:0.800xh;0,0.136xh&resize=480:*')
